#instagram
{
  float: left;
	clear: left;
	width: 256px;
	height: 256px;
	background-color: #fff;
	overflow: hidden;
	position: relative;
}
.borders
{
	border-radius: 10%;
}
.i_text
{
	color: #edefed;
	font-family: 'noto serif', serif;
	font-size: 17px;
	margin-left: 8px;
	margin-top: 1px;
	font-weight: bold;
	text-shadow: 0px 1px 3px #201e1b;
	letter-spacing: 1px;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: -moz-none;
	-ms-user-select: none;
	user-select: none;
}
.box
{
	position: absolute;
	width: 256px;
	height: 256px;
	z-index: 33;
	box-shadow: 0px 0px 25px #130E0B inset;
}
.i_top
{
	z-index: 1;
	position: absolute;
	width: 256px;
	height: 100px;
	background: #6f5344;
	background: -moz-linear-gradient(top, #6f5344 0%, #48372b 4%, #745848 47%, #81624b 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#6f5344), color-stop(4%,#48372b), color-stop(47%,#745848), color-stop(100%,#81624b));
	background: -webkit-linear-gradient(top, #6f5344 0%,#48372b 4%,#745848 47%,#81624b 100%);
	background: -o-linear-gradient(top, #6f5344 0%,#48372b 4%,#745848 47%,#81624b 100%);
	background: -ms-linear-gradient(top, #6f5344 0%,#48372b 4%,#745848 47%,#81624b 100%);
	background: linear-gradient(to bottom, #6f5344 0%,#48372b 4%,#745848 47%,#81624b 100%);
	filter: progid:dximagetransform.microsoft.gradient( startcolorstr='#6f5344', endcolorstr='#81624b',gradienttype=0 );
	border-bottom: 2px solid #130d08;
}
.i_bottom
{
	z-index: 1;
	position: absolute;
	width: 256px;
	top: 102px;
	height: 152px;
	background-color: #cac0b6;
	border-top: 2px solid #c9c3ba;
}
.i_l1
{
	z-index: 2;
	position: absolute;
	left: 23px;
	height: 90px;
	width: 10px;
	background: #6f1420;
	background: -moz-linear-gradient(top, #6f1420 0%, #4c0c19 4%, #fa2f44 47%, #fc2640 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#6f1420), color-stop(4%,#4c0c19), color-stop(47%,#fa2f44), color-stop(100%,#fc2640));
	background: -webkit-linear-gradient(top, #6f1420 0%,#4c0c19 4%,#fa2f44 47%,#fc2640 100%);
	background: -o-linear-gradient(top, #6f1420 0%,#4c0c19 4%,#fa2f44 47%,#fc2640 100%);
	background: -ms-linear-gradient(top, #6f1420 0%,#4c0c19 4%,#fa2f44 47%,#fc2640 100%);
	background: linear-gradient(to bottom, #6f1420 0%,#4c0c19 4%,#fa2f44 47%,#fc2640 100%);
	filter: progid:dximagetransform.microsoft.gradient( startcolorstr='#6f1420', endcolorstr='#fc2640',gradienttype=0 );
}
.i_l2
{
	z-index: 2;
	position: absolute;
	left: 33px;
	height: 90px;
	width: 10px;
	background: #5f4005;
	background: -moz-linear-gradient(top, #5f4005 0%, #4b3404 5%, #fcbd15 47%, #ffbc0c 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#5f4005), color-stop(5%,#4b3404), color-stop(47%,#fcbd15), color-stop(100%,#ffbc0c));
	background: -webkit-linear-gradient(top, #5f4005 0%,#4b3404 5%,#fcbd15 47%,#ffbc0c 100%);
	background: -o-linear-gradient(top, #5f4005 0%,#4b3404 5%,#fcbd15 47%,#ffbc0c 100%);
	background: -ms-linear-gradient(top, #5f4005 0%,#4b3404 5%,#fcbd15 47%,#ffbc0c 100%);
	background: linear-gradient(to bottom, #5f4005 0%,#4b3404 5%,#fcbd15 47%,#ffbc0c 100%);
	filter: progid:dximagetransform.microsoft.gradient( startcolorstr='#5f4005', endcolorstr='#ffbc0c',gradienttype=0 );
}
.i_l3
{
	z-index: 2;
	position: absolute;
	left: 43px;
	height: 90px;
	width: 10px;
	background: #2b4731;
	background: -moz-linear-gradient(top, #2b4731 0%, #1a2c1e 4%, #5cb970 47%, #5cb970 100%, #63bb75 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#2b4731), color-stop(4%,#1a2c1e), color-stop(47%,#5cb970), color-stop(100%,#5cb970), color-stop(100%,#63bb75));
	background: -webkit-linear-gradient(top, #2b4731 0%,#1a2c1e 4%,#5cb970 47%,#5cb970 100%,#63bb75 100%);
	background: -o-linear-gradient(top, #2b4731 0%,#1a2c1e 4%,#5cb970 47%,#5cb970 100%,#63bb75 100%);
	background: -ms-linear-gradient(top, #2b4731 0%,#1a2c1e 4%,#5cb970 47%,#5cb970 100%,#63bb75 100%);
	background: linear-gradient(to bottom, #2b4731 0%,#1a2c1e 4%,#5cb970 47%,#5cb970 100%,#63bb75 100%);
	filter: progid:dximagetransform.microsoft.gradient( startcolorstr='#2b4731', endcolorstr='#63bb75',gradienttype=0 );
}
.i_l4
{
	z-index: 2;
	position: absolute;
	left: 53px;
	height: 90px;
	width: 10px;
	background: #13395f;
	background: -moz-linear-gradient(top, #13395f 0%, #0f273f 4%, #1d7cf8 47%, #1b79fa 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#13395f), color-stop(4%,#0f273f), color-stop(47%,#1d7cf8), color-stop(100%,#1b79fa));
	background: -webkit-linear-gradient(top, #13395f 0%,#0f273f 4%,#1d7cf8 47%,#1b79fa 100%);
	background: -o-linear-gradient(top, #13395f 0%,#0f273f 4%,#1d7cf8 47%,#1b79fa 100%);
	background: -ms-linear-gradient(top, #13395f 0%,#0f273f 4%,#1d7cf8 47%,#1b79fa 100%);
	background: linear-gradient(to bottom, #13395f 0%,#0f273f 4%,#1d7cf8 47%,#1b79fa 100%);
	filter: progid:dximagetransform.microsoft.gradient( startcolorstr='#13395f', endcolorstr='#1b79fa',gradienttype=0 );
}
.i_t
{
	z-index: 2;
	position: absolute;
	left: 15px;
	top: 89;
	height: 23px;
	width: 55px;
	background-color: #5b4c43;
	border-radius: 20px;
	box-shadow: 0 0 3px #2e2823 inset;
	border: 1px solid #1f1819;
}
.i_blink1
{
	position: absolute;
	left: 104px;
	top: 81;
	opacity: 0.2;
	box-shadow: -8px -7px 15px #fff;
	height: 66px;
	width: 66px;
	background-color: #fff;
	z-index: 7;
	border-radius: 100%;
}
.i_blink2
{
	position: absolute;
	left: 118px;
	top: 113;
	opacity: 0.5;
	box-shadow: -8px -7px 15px #fff;
	height: 35px;
	width: 35px;
	background-color: #fff;
	z-index: 10;
	border-radius: 100%;
}
.i_blink3
{
	position: absolute;
	left: 189px;
	top: 31;
	opacity: 0.2;
	box-shadow: -8px -7px 15px #fff;
	height: 20px;
	width: 20px;
	background-color: #fff;
	z-index: 7;
	border-radius: 100%;
}
.i_blink4
{
	position: absolute;
	left: 192px;
	top: 40;
	opacity: 0.5;
	box-shadow: -8px -7px 15px #fff;
	height: 12px;
	width: 12px;
	background-color: #fff;
	z-index: 10;
	border-radius: 100%;
}
.i_f1
{
	z-index: 2;
	position: absolute;
	left: 170px;
	height: 56px;
	width: 56px;
	top: 18px;
	background-color: #392c23;
	border-radius: 10px;
}
.i_f2
{
	z-index: 3;
	position: absolute;
	left: 173px;
	height: 50px;
	width: 50px;
	top: 21px;
	background: #0a0908;
	background: -moz-linear-gradient(-45deg, #0a0908 0%, #201c1b 100%);
	background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#0a0908), color-stop(100%,#201c1b));
	background: -webkit-linear-gradient(-45deg, #0a0908 0%,#201c1b 100%);
	background: -o-linear-gradient(-45deg, #0a0908 0%,#201c1b 100%);
	background: -ms-linear-gradient(-45deg, #0a0908 0%,#201c1b 100%);
	background: linear-gradient(135deg, #0a0908 0%,#201c1b 100%);
	filter: progid:dximagetransform.microsoft.gradient( startcolorstr='#0a0908', endcolorstr='#201c1b',gradienttype=1 );
	border-radius: 10px;
}
.i_lens1_1
{
	z-index: 5;
	position: absolute;
	left: 181px;
	height: 31px;
	width: 31px;
	border: 1px solid #000000;
	top: 29px;
	border-radius: 100%;
	box-shadow: 0px 0px 7px #393836 inset;
}
.i_lens1_2
{
	z-index: 10;
	position: absolute;
	left: 193px;
	height: 10px;
	width: 10px;
	top: 41px;
	border-radius: 100%;
	background: #ffffff;
	background: -moz-radial-gradient(center, ellipse cover, #ffffff 0%, #7c60bf 11%, #6847bc 47%, #2624a5 100%);
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#ffffff), color-stop(11%,#7c60bf), color-stop(47%,#6847bc), color-stop(100%,#2624a5));
	background: -webkit-radial-gradient(center, ellipse cover, #ffffff 0%,#7c60bf 11%,#6847bc 47%,#2624a5 100%);
	background: -o-radial-gradient(center, ellipse cover, #ffffff 0%,#7c60bf 11%,#6847bc 47%,#2624a5 100%);
	background: -ms-radial-gradient(center, ellipse cover, #ffffff 0%,#7c60bf 11%,#6847bc 47%,#2624a5 100%);
	background: radial-gradient(ellipse at center, #ffffff 0%,#7c60bf 11%,#6847bc 47%,#2624a5 100%);
	filter: progid:dximagetransform.microsoft.gradient( startcolorstr='#ffffff', endcolorstr='#2624a5',gradienttype=1 );
}
.i_lens4_1
{
	z-index: 10;
	position: absolute;
	left: 124px;
	height: 20px;
	width: 20px;
	top: 129px;
	border-radius: 100%;
	background: #ffffff;
	background: -moz-radial-gradient(center, ellipse cover, #ffffff 0%, #7c60bf 11%, #6847bc 47%, #2624a5 100%);
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#ffffff), color-stop(11%,#7c60bf), color-stop(47%,#6847bc), color-stop(100%,#2624a5));
	background: -webkit-radial-gradient(center, ellipse cover, #ffffff 0%,#7c60bf 11%,#6847bc 47%,#2624a5 100%);
	background: -o-radial-gradient(center, ellipse cover, #ffffff 0%,#7c60bf 11%,#6847bc 47%,#2624a5 100%);
	background: -ms-radial-gradient(center, ellipse cover, #ffffff 0%,#7c60bf 11%,#6847bc 47%,#2624a5 100%);
	background: radial-gradient(ellipse at center, #ffffff 0%,#7c60bf 11%,#6847bc 47%,#2624a5 100%);
	filter: progid:dximagetransform.microsoft.gradient( startcolorstr='#ffffff', endcolorstr='#2624a5',gradienttype=1 );
}
.i_lens1
{
	z-index: 4;
	position: absolute;
	left: 181px;
	height: 31px;
	width: 31px;
	border: 1px solid #000000;
	top: 29px;
	border-radius: 100%;
	box-shadow: 0px 0px 3px #393836 inset;
	background: #050505;
	background: -moz-radial-gradient(center, ellipse cover, #050505 0%, #211e1b 100%);
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#050505), color-stop(100%,#211e1b));
	background: -webkit-radial-gradient(center, ellipse cover, #050505 0%,#211e1b 100%);
	background: -o-radial-gradient(center, ellipse cover, #050505 0%,#211e1b 100%);
	background: -ms-radial-gradient(center, ellipse cover, #050505 0%,#211e1b 100%);
	background: radial-gradient(ellipse at center, #050505 0%,#211e1b 100%);
	filter: progid:dximagetransform.microsoft.gradient( startcolorstr='#050505', endcolorstr='#211e1b',gradienttype=1 );
}
.i_lens2
{
	z-index: 5;
	position: absolute;
	left: 66px;
	height: 125px;
	width: 125px;
	border: 5px solid #e7e3de;
	top: 72px;
	border-radius: 100%;
	background-color: #211d19;
	box-shadow: 0px 3px 8px #645852;
}
.i_lens2_2
{
	z-index: 5;
	position: absolute;
	left: 74px;
	height: 118px;
	width: 118px;
	top: 80px;
	background: #2b3964;
	background: -moz-linear-gradient(-45deg, #2b3964 0%, #19282a 100%);
	background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#2b3964), color-stop(100%,#19282a));
	background: -webkit-linear-gradient(-45deg, #2b3964 0%,#19282a 100%);
	background: -o-linear-gradient(-45deg, #2b3964 0%,#19282a 100%);
	background: -ms-linear-gradient(-45deg, #2b3964 0%,#19282a 100%);
	background: linear-gradient(135deg, #2b3964 0%,#19282a 100%);
	filter: progid:dximagetransform.microsoft.gradient( startcolorstr='#2b3964', endcolorstr='#19282a',gradienttype=1 );
	border-radius: 100%;
}
.i_lens3
{
	z-index: 5;
	position: absolute;
	left: 88px;
	height: 90px;
	width: 90px;
	top: 94px;
	border-radius: 100%;
	box-shadow: 4px 8px 10px #1c2e2d;
	background: #3b5579;
	background: -moz-linear-gradient(-45deg, #3b5579 0%, #2e4642 100%);
	background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#3b5579), color-stop(100%,#2e4642));
	background: -webkit-linear-gradient(-45deg, #3b5579 0%,#2e4642 100%);
	background: -o-linear-gradient(-45deg, #3b5579 0%,#2e4642 100%);
	background: -ms-linear-gradient(-45deg, #3b5579 0%,#2e4642 100%);
	background: linear-gradient(135deg, #3b5579 0%,#2e4642 100%);
	filter: progid:dximagetransform.microsoft.gradient( startcolorstr='#3b5579', endcolorstr='#2e4642',gradienttype=1 );
}
.i_lens4
{
	z-index: 5;
	position: absolute;
	left: 105px;
	height: 52px;
	width: 52px;
	top: 110px;
	border: 2px solid #1c292a;
	box-shadow: 0px 0px 6px #3d615d;
	border-radius: 100%;
	background: #513b57;
	background: -moz-radial-gradient(center, ellipse cover, #513b57 0%, #2e4045 100%);
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#513b57), color-stop(100%,#2e4045));
	background: -webkit-radial-gradient(center, ellipse cover, #513b57 0%,#2e4045 100%);
	background: -o-radial-gradient(center, ellipse cover, #513b57 0%,#2e4045 100%);
	background: -ms-radial-gradient(center, ellipse cover, #513b57 0%,#2e4045 100%);
	background: radial-gradient(ellipse at center, #513b57 0%,#2e4045 100%);
	filter: progid:dximagetransform.microsoft.gradient( startcolorstr='#513b57', endcolorstr='#2e4045',gradienttype=1 );
}
